/*Tällä muokataan koko sivun näköisyyttä*/
body {
background-color: white;
}

.error {color: #E70A0A;}
.link {color: #1E90FF; margin-left: 20px;}

/*Otsikon muokkaus*/
.title {}

/*Otsikkotekstin muokkaus*/
.titletext {}

/*Lomakkeen muokkaus*/
form {
        margin-left: 20px;
}

/*Viestikentän muokkaus*/
textarea {
	resize: none;
}

/*Valinta- sekä lähetysnappien muokkaus*/
input[type=radio], [type=submit] {
	cursor: pointer;
}
