/* Tällä muokataan koko sivun näköisyyttä */
body {
background-color: white;
}

/* Tällä muokataan otsikon näköisyyttä */
h1 {
color: #880000;
margin-left: 20px;
}

/* jnejnejnejne */
p1 {
color: #881100;
margin-left: 20px;
}
